{% extends 'base.html.twig' %}

{% block body %}
    <div class="mp-homepage">
        <H1 ID="mp-titreH1"> IRM Applicative</H1>
        <br>
        <h2 ID="mp-s-titreH2"> Demonstration Acc&egrave;s aux donn&eacute;es</H2>
        <br>
    </div>
{% endblock %}
